
<link rel="stylesheet" href="style.css">
<div ng-app="leadsApp" ng-controller="leadsController">
    <div class="card-container">
        <div class="card">
            <h3>Business General Information</h3>
            
            <!-- Business Logo -->
            <div>
                <label>Business Logo</label>
                <small>Recommended Size: (350px x 180px, Max Size: 56 KB)</small>
                <input type="file" id="businessLogo" ng-model="business.businessLogo">
            </div>

            <!-- Business Details -->
            <h4>Business Details</h4>
            <div>
                <label for="friendlyName">Friendly Business Name: <span style="color:red;">*</span></label>
                <input type="text" id="friendlyName" ng-model="business.friendlyName" placeholder="Enter friendly business name" required>
            </div>
            <div>
                <label for="legalName">Legal Business Name: <span style="color:red;">*</span></label>
                <input type="text" id="legalName" ng-model="business.legalName" placeholder="Enter legal business name" required>
            </div>
            <div>
                <label for="businessEmail">Business Email: <span style="color:red;">*</span></label>
                <input type="email" id="businessEmail" ng-model="business.businessEmail" placeholder="Enter business email" required>
            </div>
            <div>
                <label for="businessPhone">Business Phone: <span style="color:red;">*</span></label>
                <input type="text" id="businessPhone" ng-model="business.businessPhone" placeholder="Enter business phone" required>
            </div>
            <div>
                <label for="businessWebsite">Business Website:</label>
                <input type="text" id="businessWebsite" ng-model="business.businessWebsite" placeholder="Enter business website">
            </div>
            <div>
                <label for="businessNiche">Business Niche:</label>
                <input type="text" id="businessNiche" ng-model="business.businessNiche" placeholder="Enter business niche">
            </div>

            <!-- Business Information -->
            <h4>Business Information</h4>
            <div>
                <label for="businessType">Business Type: <span style="color:red;">*</span></label>
                <input type="text" id="businessType" ng-model="business.businessType" placeholder="Enter business type" required>
            </div>
            <div>
                <label for="businessIndustry">Business Industry:</label>
                <input type="text" id="businessIndustry" ng-model="business.businessIndustry" placeholder="Enter business industry">
            </div>
            <div>
                <label for="businessRegIDType">Business Registration ID Type:</label>
                <input type="text" id="businessRegIDType" ng-model="business.businessRegIDType" placeholder="Enter registration ID type">
            </div>
            <div>
                <label for="businessRegNumber">Business Registration Number:</label>
                <input type="text" id="businessRegNumber" ng-model="business.businessRegNumber" placeholder="Enter registration number">
            </div>

            <!-- Business Regions of Operations -->
            <h4>Business Regions of Operations</h4>
            <div>
                <label for="streetAddress">Street Address:</label>
                <input type="text" id="streetAddress" ng-model="business.streetAddress" placeholder="Enter street address">
            </div>
            <div>
                <label for="city">City:</label>
                <input type="text" id="city" ng-model="business.city" placeholder="Enter city">
            </div>
            <div>
                <label for="postalCode">Postal/Zip Code:</label>
                <input type="text" id="postalCode" ng-model="business.postalCode" placeholder="Enter postal/zip code">
            </div>
            <div>
                <label for="state">State / Prov / Region:</label>
                <input type="text" id="state" ng-model="business.state" placeholder="Enter state/prov/region">
            </div>
            <br>
            <div>
                <label for="country">Country:</label>
                <select id="country" 
                        ng-model="business.country" 
                        ng-options="country.code as country.name for country in countries">
                    <option value="">-- Select Country --</option> <!-- Optional placeholder -->
                </select>
            </div>
            <br>

            <div>
                <label for="timeZone">Time Zone:</label>
                <input type="text" id="timeZone" ng-model="business.timeZone" placeholder="Enter time zone">
            </div>

            <!-- Language Information -->
            <h4>Language Information</h4>
            <div>
                <label for="contentLanguages">Content Language:</label>
                <select id="contentLanguages" 
                        ng-model="business.contentLanguages" 
                        ng-options="language.value as language.label for language in contentLanguages">
                </select>
            </div>


            <br>

            <!-- Authorized Representative -->
            <h4>Authorized Representative</h4>
            <div>
                <label for="repFirstName">First Name: <span style="color:red;">*</span></label>
                <input type="text" id="repFirstName" ng-model="business.repFirstName" placeholder="Enter first name" required>
            </div>
            <div>
                <label for="repLastName">Last Name: <span style="color:red;">*</span></label>
                <input type="text" id="repLastName" ng-model="business.repLastName" placeholder="Enter last name" required>
            </div>
            <div>
                <label for="repEmail">Representative Email: <span style="color:red;">*</span></label>
                <input type="email" id="repEmail" ng-model="business.repEmail" placeholder="Enter representative email" required>
            </div>
            <div>
                <label for="repJobPosition">Job Position:</label>
                <input type="text" id="repJobPosition" ng-model="business.repJobPosition" placeholder="Enter job position">
            </div>
            <div>
                <label for="repPhoneNumber">Phone Number: <span style="color:red;">*</span></label>
                <input type="text" id="repPhoneNumber" ng-model="business.repPhoneNumber" placeholder="Enter phone number" required>
            </div>

            <!-- Submit Button -->
            <div>
                <button type="submit" ng-click="updateBizInfoForm()" ng-disabled="!updatable">Submit</button>
            </div>

            <!-- Message Display -->
            <div ng-if="apiMessage">
                <span ng-if="apiStatus" class="ok">{{ apiMessage }}</span>
                <span ng-if="!apiStatus" class="err">{{ apiMessage }}</span>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <h3>SMTP Configuration Information</h3>

            <div>
                <label for="smtpUsername">Username:</label>
                <input type="text" id="smtpUsername" ng-model="smtp.username" placeholder="yourusername" required />
            </div>

            <div>
                <label for="smtpPassword">Password:</label>
                <input type="password" id="smtpPassword" ng-model="smtp.password" placeholder="Your password" required />
            </div>

            <div>
                <label for="smtpServer">SMTP Server:</label>
                <input type="text" id="smtpServer" ng-model="smtp.server" placeholder="smtp.example.com" required />
            </div>

            <div class="form-group">
                <label for="smtpSecurity">Security Type:</label>
                <select id="smtpSecurity" ng-model="smtp.security" ng-options="option.value as option.label for option in securityOptions" required>
                </select>
            </div>

            <br>
            <div>
                <label for="smtpPort">SMTP Port:</label>
                <input type="number" id="smtpPort" ng-model="smtp.port" placeholder="587" required />
            </div>

            <div>
                <label for="smtpSenderName">Sender Name:</label>
                <input type="text" id="smtpSenderName" ng-model="smtp.senderName" placeholder="Your Name" required />
            </div>

            <div>
                <label for="smtpTestEmail">Test Email (optional):</label>
                <input type="email" id="smtpTestEmail" ng-model="smtp.testEmail" placeholder="test@example.com" />
            </div>

            <div>
                <!-- "Test" button is enabled only when all fields are filled, including the optional Test Email field -->
                <button type="button" ng-click="testConnection()" ng-disabled="!isAllFieldsFilled()">Test</button>
            </div>

            <div>
                <!-- "Save" button is enabled only when all required fields (excluding Test Email) are filled -->
                <button type="button" ng-click="saveSmtpSettings()" ng-disabled="!isRequiredFieldsFilled()">Save</button>
            </div>

        </div>
    </div>
    <script src="src/angular.min.js"></script>
    <script src="src/angular-sanitize.min.js"></script>
    <script src="app.js"></script>
</div>
